<div class="row text-center">
  <div class="col-xs-12 col-sm-4">
    <h4>Customers</h4>
    <h2><%= @customer_count %></h2>
  </div>
  <div class="col-xs-12 col-sm-4">
    <h4>Campers</h4>
    <h2><%= @camper_count %></h2>
  </div>
  <div class="col-xs-12 col-sm-4">
    <h4>Leads</h4>
    <h2><%= @leads_count %></h2>
  </div>
</div>
