#soul-camp-365 {
  background: asset-url('welcome/clouds.png') no-repeat top center;

  h3 {
    color: $white;
    margin-top: 30px;
  }

  h3, h4 {
    font-weight: bold;
  }

  h3, h4, p {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .btn {
    width: 290px;
    font-size: 14px;
  }
}
