header {
  height: 930px;
  position: relative;
  text-align: center;
  text-shadow: 2px 2px $black;

  #header-carousel {
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 100;
    position: absolute;

    .item {
      width: 100%;
      height: 930px;
      background-repeat: no-repeat;
      background-position: center center;

      &.item-1 { background-image: asset-url('welcome/slides/slide-1.jpg'); }
      &.item-2 { background-image: asset-url('welcome/slides/slide-2.jpg'); }
      &.item-3 { background-image: asset-url('welcome/slides/slide-3.jpg'); }
      &.item-4 { background-image: asset-url('welcome/slides/slide-4.jpg'); }
      &.item-5 { background-image: asset-url('welcome/slides/slide-5.jpg'); }
    }
  }

  #logo-wrapper {
    z-index: 200;
    position: relative;

    #logo {
      margin-top: 30px;
      max-width: 100%;
    }

    h4.primary {
      margin-top: -40px;
    }
  }

  h2 {
    color: $white;
    padding: 0 15px;
    font-size: 70px;
    margin-top: -20px;
    font-family: manus;
  }

  h4 {
    color: $white;
    margin: 0 0 15px;
    padding: 0 15px;
    font-family: lato;
    font-size: 21px;
  }

  h3 {
    color: $white;
    margin: 0;
    padding: 0 15px;
    font-size: 58px;
    font-family: manus;
  }

  footer {
    width: 100%;
    bottom: 30px;
    z-index: 200;
    position: absolute;

    .btn {
      border-radius: 0;
      padding: 10px;
      background: $white;
      color: $orange-4;
      font-family: lato;
      font-size: 14px;
      font-weight: bold;
      text-shadow: none;

      + .btn {
        margin-left: 10px;
      }

      &:hover {
        color: $white;
        background: $orange-4;
      }
    }
  }
}
