<section class="body">
  <article id="password-edit" class="container">
    <section class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= fa_icon 'unlock-alt' %>
              Reset Password
            </h3>
          </div>
          <div class="panel-body">
            <%= render 'edit_form' %>
          </div>
        </div>
      </div>
    </section>
  </article>
</section>
