<footer class="container-fluid">
  <div class="background"></div>
  <div class="copyright">COPYRIGHT &copy; 2016 SOUL CAMP LLC  |  MADE WITH LOVE BY <strong>SOUL CAMP CREATIVE</strong></div>
</footer>
