<title>
  Soul Camp<%= " #{content_for(:title)}" if content_for?(:title) %>
</title>

<%= render 'shared/meta_tags' %>

<link rel="canonical" href="//soul.camp/">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
