<!--nav class="row">
  <ul class="nav nav-pills">
    <li class="<%= active_for('registrations') %>">
      <%= link_to 'My Account', edit_user_registration_path %></li>
    </li>
  </ul>
  <hr>
</nav-->
