<div class="row">
  <h1>PATRICIA MORENO</h1>
  <blockquote>EXERCISE YOUR POWER TO CHOOSE. CHOOSE A SATI LIFE.</blockquote>
  <div class="col-xs-12">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mollis vitae ipsum eget consequat. Sed nisl libero, pulvinar id tincidunt at, elementum ac sem. Suspendisse eget lobortis neque, quis cursus justo. Maecenas vestibulum tincidunt mi, molestie tempus sapien eleifend quis. Ut viverra porttitor diam vitae laoreet. Aenean vestibulum elit eget quam commodo bibendum. Donec dignissim consequat lacus non aliquam. Nam felis libero, iaculis ac ultricies sit amet, lacinia quis lectus. Aenean sit amet tempor justo. Cras eu erat quam. Pellentesque et ultrices leo. Phasellus commodo in ligula congue cursus.</p>
  </div>
</div>
