$white:         #FFFFFF;

$black:         #000000;

$grey:          #8a8989;
$dark-grey:     #393737;
$light-grey:    #d7d7d7;
$light-grey-2:  #c4c4c4;

$red:           #ff0033;

$orange:        #ff7247;
$orange-2:      #ff5a00;
$orange-3:      #ec5d0a;
$orange-4:      #ff3c00;

$purple:        #822A8A;

$navy:          #0e447d;

$pink:          #ff2161;
$hot-pink:      #f90153;
$gold:          #ffcd54;
$yellow-warn:   #ffce52;
