<style type="text/css">
  p { font-family: Tahoma; }
  p.logo { text-align: center; }
</style>

<p>Hello <%= @resource.name %>!</p>

<% if @resource.password_set? %>
  <p>We received a request to reset your <strong>patriciamoreno.com</strong> password.</p>

  <p>You can do this through the link below.</p>

  <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

  <p>Your password will NOT be changed until you access the link above to create a new one.</p>

  <p>If you did not request this, please ignore this email.</p>
<% else %>
  <p>You can log in to your new <strong>patriciamoreno.com</strong> account once you set a password!</p>

  <p>You can do this through the link below.</p>

  <p><%= link_to 'Set my password', edit_password_url(@resource, reset_password_token: @token) %></p>
<% end %>
