<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <div class="panel panel-default panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @record_action %></h3>
    </div>
    <div class="panel-body">
      <%= render 'shared/record_errors', record: @record %>
      <%= render 'form' %>
    </div>
  </div>
</div>
